#connect-panel {
	display: flex;
	flex-direction: column;
	margin-bottom: 48px;

	flex-grow: 2;

	input, select {
		margin-bottom: 8px;
	}
}

#connect-panel-parent {
	display: flex;
}

#download-button {
	margin-top: 8px;
	text-align: center;
}
