#console {
	font-family: sans-serif;
	max-height: 500px;
	user-select: text;
	overflow-y: scroll;

	.text-player-you {
		color: #ff87d7;
	}

	.text-player-them {
		color: #5fafff;
	}

	.text-item-progression {
		color: #ffc500;
	}

	.text-location {
		color: #00c51b;
	}

	.text-deathlink {
		color: rgb(102, 0, 0);
	}
}
