#console {
	font-family: sans-serif;
	max-height: 500px;
	user-select: text;
	overflow-y: scroll;

	.text-player-you {
		color: #84105d;
	}

	.text-player-them {
		color: #0e5397;
	}

	.text-item-progression {
		color: #8a6a00;
	}

	.text-location {
		color: #00670e;
	}

	.text-deathlink {
		color: rgb(102, 0, 0);
	}
}
