@font-face {
	font-family: Wendy One;
	src: url(../assets/WendyOne-Regular.ttf);
}

@keyframes titleCard {
	0% {
		transform: scaleX(0.0);
	}
	50% {
		transform: scaleX(1.0);
	}
	100% {
		transform: scaleX(0.0);
	}
}

#title-container {
	margin-top: 25%;
}

#title-cards {
	display: flex;
	flex-direction: row;
}

#title-text {
	color: #ebd3e6;
	font-size: 96pt;
	text-align: center;
	font-family: Wendy One;
	text-shadow: 5px 5px 0px black, -5px 5px 0px black, 5px -5px 0px black, -5px -5px 0px black, 0px 5px 0px black, 0px -5px 0px black, 5px 0px 0px black, -5px 0px 0px black;
}
